<template>
  <b-container class="main-content evoting-page">
    <h1>Was ist E-Voting</h1>
    <h2>Einfach, bequem und sicher Abstimmen mit dem E-Voting Portal fairVote</h2>
    <p>
      Gemäss dem Bundesamt für Statistik war die Stimmbeteiligung im 20. Jahrhundert rückläufig und hat in den letzten Jahren auf relativ tiefem Niveau stagniert. 2018 betrug sie durchschnittlich lediglich 43,7 Prozent. Mit der e-voting Plattform fairVote soll der Abstimmungsprozess schneller und einfacher werden. Orts- und zeitunabhängig sollen Stimmbürger ihre Stimme abgeben können. Wenn die Hürden für das Abstimmen niedriger sind, werden tendenziell mehr Stimmen abgegeben, was aus demokratischer Sicht zu begrüssen ist. Besonders unter jungen SchweizerInnen ist die Stimmbeteiligung momentan niedrig, in dieser Hinsicht verspricht man sich mit E-Voting eine markante Verbesserung.<br>
      <br>
      Fairvote wird mit einem starken Fokus auf Benutzerfreundlichkeit erstellt, um auch weniger technikaffinen Personen die elektronische Stimmbeteiligung zu ermöglichen. Auch Personen mit Behinderungen soll das Benutzen von fairVote ermöglicht werden, die Barrierefreiheit der Seite hat höchste Priorität. Nach dem Abschluss einer Abstimmung werden auf der Seite nicht nur die Abstimmungsergebnisse publiziert, sondern auch verschiedene Auswertungen präsentiert. Fairvote hat zudem das Potential, den Verwaltungsaufwand für die Abstimmungen zu reduzieren, wodurch dem Bund und den Kantonen Kosten erspart bleiben.
    </p>
    <p>
      FairVote ist eine webbasierte Plattform, die für die elektronische Stimmabgabe verwendet werden kann. Der Zugriff auf die Webseite ist von jedem internetfähigen Endgerät möglich. Die Kommunikation zwischen Endgerät und Webserver ist verschlüsselt, der Webserver ist zudem durch modernste Sicherheitstechnologien geschützt. Zum Schutz vor Manipulationen der Stimmabgabe werden verschiedene Technologien der Kryptographie angewendet. Der Zugriff auf die Datenbanken ist nur für einen streng limitierten Personenkreis möglich, alle Aktivitäten werden genau protokolliert.<br>
      <br>
      Bei der Einführung von fairVote erhält jeder stimmberechtigte Bürger ein Informationsschreiben zur Plattform. Die BürgerInnen können sich danach auf der Plattform registrieren. Dafür kann der persönliche eGovernment Account oder die SwissID verwendet werden. Alternativ können die User mit dem Schweizer Pass oder ID einen neuen Account erstellen, dieser muss dann mit einem Bestätigungscode, welcher per Post versendet wird, bestätigt werden. Bei der Registrierung geben die User Angaben wie Alter, Geschlecht und Wohnkanton an, diese Daten werden bei Abstimmungen für statistische Zwecke verwendet. Mit den Abstimmungsunterlagen werden zukünftig Abstimmungscodes versendet. Nach dem Einloggen auf fairVote können Stimmbürger eine der aktuellen Vorlagen auswählen, ihren Abstimmungscode eingeben und abstimmen. Mit dem Abstimmungscode kann sichergestellt werden, dass jeder Bürger pro Vorlage nur einmal Abstimmen kann. Bei der Abstimmung werden nur die Stimmabgabe und die statistischen Angaben übermittelt, wodurch das Stimmgeheimniss gewährleistet ist.
    </p>
  </b-container>
</template>

<script>
export default {
  name: 'Evoting.vue',
};
</script>

<style scoped>

</style>
