<template>
  <b-container class="main-content impressum-page">
    <b-row>
      <b-col>
        <h1>Impressum</h1>
          <h2>Kontaktadresse</h2>
          <p>Rolf Isler<br>
            ZHAW School of Management and Law<br>
            Theaterstrasse 15b<br>
            8400 Winterthur<br>
            islerrol(at)students.zhaw.ch</p>
          <p>&nbsp;</p>
          <h2>Information</h2>
          <p>Bei fairVote handelt es sich um eine fiktive Marke, welche im Rahmen eines Schulprojekts erstellt wurde. Jeglicher Inhalt dieser Webseite ist fiktiv. Texte und Zahlen sind entweder frei erfunden oder von offiziellen Quellen des Bundes entnommen.</p>
          <p>&nbsp;</p>
          <h2>Haftungsausschluss</h2>
          <p>Der Autor übernimmt keinerlei Gewähr hinsichtlich der  inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und  Vollständigkeit der Informationen.</p>
          <p>Haftungsansprüche gegen den Autor wegen Schäden materieller  oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw.  Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der  Verbindung oder durch technische Störungen entstanden sind, werden  ausgeschlossen.</p>
          <p>Alle  Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile  der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern,  zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig  einzustellen.</p>
          <p>&nbsp;</p>
          <h2>Haftung für Links</h2>
          <p>Verweise und Links auf Webseiten  Dritter liegen ausserhalb unseres Verantwortungsbereichs Es wird jegliche Verantwortung für solche Webseiten  abgelehnt.  Der Zugriff und die Nutzung solcher Webseiten erfolgen  auf eigene Gefahr des Nutzers oder der Nutzerin. </p>
          <p>&nbsp;</p>
          <h2>Urheberrechte</h2>
          <p>Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf der Website gehören ausschliesslich <strong></strong> oder den speziell genannten  Rechtsinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung der Urheberrechtsträger im Voraus einzuholen.</p>
          <p>&nbsp;</p>
          <h2>Datenschutz</h2>
          <p>Gestützt auf Artikel 13 der schweizerischen Bundesverfassung  und die datenschutzrechtlichen Bestimmungen des Bundes (Datenschutzgesetz, DSG)  hat jede Person Anspruch auf Schutz ihrer Privatsphäre sowie auf Schutz vor  Missbrauch ihrer persönlichen Daten. Wir halten diese Bestimmungen ein.  Persönliche Daten werden streng vertraulich behandelt und weder an Dritte  verkauft noch weiter gegeben.</p>
          <p>In enger Zusammenarbeit mit unseren Hosting-Providern  bemühen wir uns, die Datenbanken so gut wie möglich vor fremden Zugriffen, Verlusten,  Missbrauch oder vor Fälschung zu schützen.</p>
          <p>Beim Zugriff auf unsere Webseiten werden folgende Daten in  Logfiles gespeichert: Datum, Uhrzeit, Browser-Anfrage und allg.  übertragene Informationen zum Betriebssystem resp. Browser. Diese Nutzungsdaten  bilden die Basis für statistische, anonyme Auswertungen, so dass Trends  erkennbar sind, anhand derer wir unsere Angebote entsprechend verbessern  können. </p>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'Impressum',
};
</script>
